<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline flicker"></span>
    <!-- <h1>Bootstrap</h1> -->
    <ul class="result">
		</ul>
    <p class="lead"></p>
    <p class="lead">
      <a  id="start" href="#" class="btn btn-outline-inverse btn-lg" onclick="startLottery();">start</a>     
      <a  id="stop" href="#" class="btn btn-outline-inverse btn-lg" onclick="stopLottery();">stop</a>
    </p>
   </div>
  </div>
</main>

<script type="text/javascript">
	var candidates = <%=raw  @candidates.to_json %>;
	var flicker = $('.flicker');
	var t, result;

	console.log(candidates);

	function ramdonIt() {
		result = Math.round( Math.random() * candidates.length + .5 ) - 1;
  	console.log(candidates[result]);
		flicker.html(candidates[result]);
		t = setTimeout("startLottery()", 100);
	}

	function stopLottery() {
		clearTimeout(t);
		var selected = candidates[result];
		$('.result').append("<li class='lead'>" + selected +"</li>")
    candidates.splice(result,1);       
		$('#start').show();
  	$('#stop').hide();
	}

  function startLottery() {
  	$('#start').hide();
  	$('#stop').show();
  	ramdonIt();
  };


</script>